<div class="container-fluid">
    <div class="controlpanel">
        <div class="form-group p-3">
            <label for="exampleSelect1">Select Location<span>/Lokasyon Seçiniz</span><span class="text-danger">*</span></label>
            <select [(ngModel)]="_location" (change)="changeLokasyon(_location)" class="form-control form-select" id="location">
                <option *ngFor="let item of locations">{{item}}</option>
            </select>

            <!-- <label for="exampleSelect1">Select Location<span>/Lokasyon Seçiniz</span><span class="text-danger">*</span></label>
            <select [(ngModel)]="_location" (change)="changeLokasyon(_location)" class="form-control form-select" id="location">
                <option value="1">Hepsi</option>
                <option value="2">Gemlik / Bursa</option>
                <option value="3">Bursa</option>
                <option value="4">Halkalı / İstanbul</option>
                <option value="5">Merkez / İstanbul</option>
                <option value="6">Yok</option>
            </select> -->
        </div>
        
        <div class="form-group" style="display:flex;justify-content:space-around; height: 5vh;">
            <app-safepeople></app-safepeople>
            <div class="dashboard-items" type="button">
              <span>{{this.borusan.duzenlemeTarih | date : 'dd-MM-yyyy  hh:mm:ss'}}</span>
            </div>
            <div (click)="notLocation()" class="dashboard-items" style="background-color:#009ef7;" type="button">
                <span>Lokasyon Dışı</span>
            </div>
            <div class="dashboard-items" type="button">
              <img class="mx-auto w-150px w-xl-100px" src="./assets/media/misc/borusan.png" alt="" />
            </div>
            <div (click)="showDevices()"  class="dashboard-items" type="button" data-toggle="modal" data-target="#ShowDevices">
              <span style="color: red;">Off:&nbsp;{{offDevices}}</span><span>Devices</span><span style="color: green;">On:&nbsp;{{onDevices}}</span> 
            </div>
     
            <app-notsafepeople></app-notsafepeople>
            <!-- <app-notsafepeople (myevent)="IsSafe($event)"></app-notsafepeople> -->
        </div>
      
    </div>

    <div class="content">
        <div class="col-md-12">
          <app-name-list></app-name-list> 
        </div>
    </div>

    
     <div class="modal fade bd-example-modal-xl" id="ShowDevices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title m-auto">Toplanma Alanları Terminalleri</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ng-container *ngFor="let item of deviceList">
              <button *ngIf="item.state != 0" type="button" class="btn btn-success m-2">{{item?.name}}</button>
              <button *ngIf="item.state == 0" type="button" class="btn btn-danger m-2">{{item?.name}}</button>
          </ng-container>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
</div>
