<div class="container-fluid">
    <div class="controlpanel">
        <div class="row">

          <div class="col-md-10">

            <div class="form-group">
              <label>Select Location<span>/Lokasyon Seçiniz</span><span class="text-danger">*</span></label>
              <select [(ngModel)]="_location" (change)="changeLokasyon(_location)" class="form-select" id="location">
                  <option *ngFor="let item of locations">{{item}}</option>
              </select>
             
            </div>
          </div>

          <div class="col-md-2">
            <img class="borusan_logo" src="./assets/media/misc/borusan.png" alt="Responsive image" />
          </div>

        </div>
    
        
        <div class="top-buttons">

            <div (click)="safe()"  class="dashboard-items" type="button" style="background-color:greenyellow;">
              <span>Güvende Olan Personel Sayısı</span>
              <span *ngIf="this.borusan.safePeopleCount != 0">{{this.borusan.safePeopleCount}}</span>
            </div>
         
            <div class="dashboard-items" type="button">
              <span>{{this.borusan.duzenlemeTarih | date : 'dd-MM-yyyy  hh:mm:ss'}}</span>
            </div>

            <div (click)="inLocation()" class="dashboard-items" style="background-color:orange;" type="button">
              <span>İçeride</span>
              <span *ngIf="this.borusan.inLocationPeopleCount != 0">{{this.borusan.inLocationPeopleCount}}</span>
            </div>

            <div (click)="outLocation()" class="dashboard-items" style="background-color:#009ef7;" type="button">
                <span>Lokasyon Dışı</span>
                <span *ngIf="this.borusan.outLocationPeopleCount != 0">{{this.borusan.outLocationPeopleCount}}</span>
            </div>

            <div (click)="showDevices()"  class="dashboard-items" type="button" data-toggle="modal" data-target="#ShowDevices">
              <span style="color: red;">Off:&nbsp;{{offDevices}}</span><span>Devices</span><span style="color: green;">On:&nbsp;{{onDevices}}</span> 
            </div>
            <div (click)="notSafe()"  class="dashboard-items" type="button" style="background-color: #ff2f2f;">
              <span>Güvende Olmayan Personel Sayısı</span>
              <span *ngIf="this.borusan.notSafePeopleCount != 0">{{this.borusan.notSafePeopleCount}}</span>
            </div>
      
        </div>
      
    </div>

    <div class="content">
        <div class="col-md-12">
          <app-name-list></app-name-list> 
        </div>
    </div>

    
     <div class="modal fade bd-example-modal-xl" id="ShowDevices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title m-auto">Toplanma Alanları Terminalleri</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ng-container *ngFor="let item of deviceList">
              <button *ngIf="item.state != 0" type="button" class="btn btn-success m-2">{{item?.name}}</button>
              <button *ngIf="item.state == 0" type="button" class="btn btn-danger m-2">{{item?.name}}</button>
          </ng-container>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
</div>
