.safepeople{
    width: 30vw;
    min-width: 30vw;
    min-height: 5vh;
    background-color: greenyellow;
    color: black;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px #939393;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.safepeople:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgb(255, 47, 47);
}