<div class="nameList">
  <div class="searcharea">
    <input type="text" [(ngModel)]="searchEmp" class="form-control" placeholder="Sicil No"
    (keyup)="searchEmployeeFilter()">
    <a><i class="fas fa-search"></i></a>
   </div>
   <mat-divider></mat-divider>
   
 
   <mat-dialog-content cdkDrag cdkDragRootElement="cdk-overlay-pane" cdkDragHandle>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sicilNo" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sicil No</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="sicilNo" *matCellDef="let element">{{element.sicilNo}}</mat-cell>
          </ng-container>
 
          <ng-container matColumnDef="adSoyad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ad Soyad</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="adSoyad" *matCellDef="let element"><b>{{element.adSoyad}}</b></mat-cell>
          </ng-container>

          <ng-container matColumnDef="departman">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departman</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="departman" *matCellDef="let element">{{element.departman}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="firma">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Firma</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="firma" *matCellDef="let element">
              {{element.firma}}
              </mat-cell>
          </ng-container>
     
          <ng-container matColumnDef="lokasyon">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Lokasyon</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="lokasyon" *matCellDef="let element"><b>{{element.lokasyon}}</b></mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="hareketZamani">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Giris Saati</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="hareketZamani" *matCellDef="let element">{{element.hareketZamani | date : 'dd.MM.yyyy - HH:mm' }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="terminalAd">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Giris Terminali</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="terminalAd" *matCellDef="let element">{{element.terminalAd}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefon">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="telefon" *matCellDef="let element">{{element.telefon}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="kanGrubu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Kan Grubu</mat-header-cell>
            <mat-cell (click)="exportExcel()"  data-label="kanGrubu" *matCellDef="let element">{{element.kanGrubu}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="acilDurumKisi">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Acil Durum Kisi</mat-header-cell>
            <mat-cell (click)="exportExcel()"  data-label="acilDurumKisi" *matCellDef="let element">{{element.acilDurumKisi}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="acilDurumKisiTel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Acil Durum Kisi Tel</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="acilDurumKisiTel" *matCellDef="let element">{{element.acilDurumKisiTel}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Statu</mat-header-cell>
            <mat-cell (click)="exportExcel()" data-label="status" *matCellDef="let element">
              <span *ngIf="element.status == 1" style="color:green"><b>Güvende</b></span>
              <span *ngIf="element.status == 2" style="color:orange"><b>İçeride</b></span>
              <span *ngIf="element.status == 3" style="color:blue"><b>Dışarıda</b></span>
              <span *ngIf="element.status == 4" style="color:red"><b>Güvende Değil</b></span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="koordinat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Koordinat</mat-header-cell>
          
            <mat-cell *matCellDef="let element" data-label="koordinat">
              <button *ngIf="element.status == 4" (click)="getKoordinat(element)" type="button" style="font-weight:bold" class="btn btn-danger btn-sm" 
              data-toggle="modal" data-target="#koordinat">K</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="vip"  stickyEnd>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vip</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="vip">{{element.vip}}</mat-cell>
          </ng-container>

          
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <!-- <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row> -->
        </mat-table>
        <mat-paginator  [pageSize]="11"  showFirstLastButtons aria-label="Select page">
        </mat-paginator>
      </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>

    <div class="modal fade" id="koordinat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Yardıma İhtiyacım Var</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body-xl">
            <object type="text/html" id="mapx" data="https://www.meyerangel.com/testmap.html?x=41.029263&amp;y=28.987094" width="100%" height="100%"></object>
            <!-- <iframe id="mapx" width="100%" height="100%" src="https://www.meyerangel.com/testmap.html?x=41.029263&amp;y=28.987094" frameborder="0"></iframe> -->
          </div>
        </div>
      </div>
    </div>
</div>
