.nameList{
    overflow:auto;
    height: 75vh;
}

:root{
    --searcharea-boyut:80px;
    --searcharea-uzunluk:70vw;
}
.searcharea{
    border-radius:5px;
    height:var(--searcharea-boyut);
    padding:10px;
    width:auto;
    display:flex;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.7);
    background-color: white;
    font-size: 1.2rem;
    margin-bottom:15px;
}
.searcharea i{
    color:black;
    border:none;
    border-radius: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: calc(var(--searcharea-boyut) * .6);
}
.searcharea input{
    border:none;
    background: none;
    outline: none;
    color:black;
    font-size: 120%;
    padding:0;
    width: 100%;
    transition: .7s ease-in;
}

.searcharea:hover > a {
    background: transparent;
}

.mat-row:hover {
    background-color: rgb(158, 232, 245);
    cursor: pointer;

}

.mat-table .mat-header-cell{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    color: black;
}
object{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}
#adress{
    height: 0 !important;
}
@media screen and (max-width: 860px){

    .mat-table .mat-row {
        display: block;
    }

    .mat-table .mat-header-cell{
        font-weight: bold;
        font-size: larger;
        text-align: center;
        color: black;
    }

    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height:30px;
     
      }
      
    .mat-table {
        border: 0;
        vertical-align: middle
      }

    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    
      }

    //   .mat-table .mat-cell:last-child {
    //     border-bottom: 0;
    //   }
    // .mat-table .mat-cell:first-child {
    //     margin-top: 4%;
    //   }
    .mat-header-row{
        display: none;
      }
}