.notsafepeople{
    width: 20vw;
    min-width: 20vw;
    min-height: 5vh;
    background-color: #ff2f2f;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px #939393;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notsafepeople:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px greenyellow;
}